@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url(/fonts/droidsansmono.v4.woff) format('woff');
}
body {
    background-color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    color: #aaaaaa;
}
body.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
a { text-decoration: none; color: #aaaaaa; }
div.nav {
    position: fixed;
    z-index: 9998;
    top: 0px; left: 0px;
    width: 100%;
    height: 2em;
    cursor: default;
    background-color: rgba(255, 255, 255, 1);
}
div.nav a:hover { cursor: pointer; }
a.link:hover { background-color: rgba(240, 240, 240, 0.8); }
div.menu {
    display: none;
    position: fixed;
    top: 2em; right: 0;
    background-color: rgba(255, 255, 255, 1);
}
div.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0.5em;
}
div.nav ul li a {
    cursor: pointer;
}
div.nav ul li.link {
    float: left;
}
div.nav ul li.control {
    float: right;
    padding-right: 2em;
}
div.menu ul {
    list-style-type: none;
    overflow: hidden;
    padding-inline-start: inherit;
}
div.menu ul li a {
    display: block;
    cursor: pointer;
    padding: 1em;
}
div.menu ul li {
    border-bottom: 1px solid #555555;
}
div.menu ul li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
a.button {
    font-weight: 400;
    -moz-border-radius: 12px;
    border-radius:  12px;
    border-color: #aaaaaa;
    line-height: 40px;
    padding: 8px 16px;
    color: #aaaaaa;
    cursor: pointer;
}
a.button:hover {
    text-decoration: none;
}
input {
    display: inline;
    width: 50%;
    border: none;
    outline-width: 0px;
    outline-style: none;
    font-family: 'Palatino', 'Georgia', serif;
    letter-spacing: 2px;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: -1px;
    margin-left: -1px;
    color: #333333;
    background-color: rgba(255, 255, 255, 1);
}
div.display {
    display: block;
    padding: 1em;
    font-family: 'Palatino', 'Georgia', serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.5em;
    color: #333333;
}
div.space {
    padding-bottom: 5em;
}
a.direction { cursor: pointer; }
